body {
    background: black;
    margin: 0;
}
.section-1 {
    background: linear-gradient(black, grey);
    color: lightblue;
    padding: 20px;
    text-align: center;
}

.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(grey, black);
}

.section-2-header {
    color: rgb(255, 150, 200);
    border-radius: 20px;
    padding: 20px;
    font-size: 72px;
}

.section-2-paragraph {
    color: white;
    width: 60%;
    font-size: 20px;
}

.input-text {
    background: grey;
    color: white;
    font-size: 2rem;
}