body {
    background: black;
    margin: 0;
    width: 100%;
}

.form-section {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top right, black, rgb(79, 64, 64), black);
}

@media (width > 768px) {
    .form-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: start;
        justify-content: start;
        /* gap: 50px; */
        padding-left: 20px;
        padding-right: 20px;
    }
}

.form {
    width: 90%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.form-header {
    color: lightgreen;
    font-size: 2rem;
}

.flex-row {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.form-button {
    background: yellowgreen;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.form-button:hover {
    background: greenyellow;
}

.form-checkbox {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

input {
    width: 90%;
    background: rgb(50, 50, 50);
    color: white;
    font-size: 2rem;
    border-radius: 5px;
}

.handleliste-container {
    width: 90%;
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.handleliste {
    max-width: 90%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background: rgb(62, 59, 59);
    border-radius: 1rem;
    padding: 1rem;
    gap: 10px;
    margin-bottom: 20px;
}

.handleliste p {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to top right, grey, lightgreen, grey);
    border-radius: 5px;
    padding: 5px;
    margin: 0;
}

.handleliste button {
    background: lightcoral;
    cursor: pointer;

}
.section-1 {
    background: linear-gradient(black, grey);
    color: lightblue;
    padding: 20px;
    text-align: center;
}

.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(grey, black);
}

.section-2-header {
    color: rgb(255, 150, 200);
    border-radius: 20px;
    padding: 20px;
    font-size: 72px;
}

.section-2-paragraph {
    color: white;
    width: 60%;
    font-size: 20px;
}

.input-text {
    background: grey;
    color: white;
    font-size: 2rem;
}